<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%.-19date %.-5level %class.%method - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/QA-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            &lt;!&ndash; daily rollover &ndash;&gt;
            <fileNamePattern>logs/QA-test.%d{yyyy-MM-dd}.zip</fileNamePattern>
            &lt;!&ndash; keep 30 days' worth of history &ndash;&gt;
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%.-19date %.-5level %class.%method - %msg%n</pattern>
        </encoder>
    </appender>
-->
    <logger name="home.dgroup.servlet.db.CommentTest" level="debug" />

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</configuration>

<!--
#############################################################
    Manuals:
    -   http://logback.qos.ch/manual/configuration.html
    -   http://logback.qos.ch/manual/appenders.html
#############################################################
-->